.basket {
    background-color: #161516;
    height: 100vh;
}
.container {
    margin: 0 auto;
    width: 1350px;
}

.basket__header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 135px;
    margin: 0 auto;
}

.basket__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 31px;
}

.basket__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 20px; */
    row-gap: 35px;
    width: 1320px;
    margin: 0px auto;
    /* height: calc(100vh - 180px); */
    /* overflow: auto; */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
}
.line {
    width: 100vw;
    border: 1px solid #D58C51;
}

.footer__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    margin-top: 20px;
}

.footer__amount {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 21px;
}

.amount__item {
    font-size: 18px;
    line-height: 22px;
    color: #D58C51;
}

.footer__btn {
    padding: 12px 40px;
    background: #D58C51;
    font-size: 14px;
    color: #131313;
    border: none;
}