.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 285px;
    height: 552px;
    padding: 43px 21px;
    border: 1px solid #D58C51;
    color: #FFFFFF;
}

.card:hover {
    color: #D58C51;
}

.btn__sum {
    border: none;
    background-color: #161516;
    cursor: pointer;
}
.card__preview {
    width: 100%;
}

.card__title {
    margin-top: 31px;
    margin-bottom: 13px;
    font-weight: 500;
    font-size: 17px;
}

.card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__button:hover {
    cursor: pointer;
}