.order {
    display: flex;
    height: 122px;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    margin: 0 auto;
}

.order__img {
    height: 122px;
}

.order__info {
    width: 264px;
}

.order__item {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #D58C51;
    font-size: 18px;
}