.products {
    background-color: #161516;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1350px;
}

.products__header {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 135px; */
    margin: 0 auto;
}

.products__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 31px;
}

.basket {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}
.basket__text {
    width: 150px;
    color: #FFFFFF;
}
.basket__img {
    width: 50px;
    height: 50px;
}

.products__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    row-gap: 35px;
    width: 1320px;
    margin: 0px auto;
    height: calc(100vh - 180px);
    overflow: auto;
}