.app__header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  background-color: #161516;
  color: #FFFFFF;
  text-decoration: none;
}

.link__text {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 31px;
}